<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.01"
    package="com.findit.battle">
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:name="com.findit.battle.FindItApplication"
        android:allowBackup="true">
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name"
            android:name="com.findit.battle.GameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.JoinActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.InventoryActivity_Google"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.InventoryActivity_Olleh"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.InventoryActivity_T"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.SetupActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.NoticeActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <activity
            android:theme="@style/CustomDialog"
            android:name="com.findit.battle.RankActivity"
            android:screenOrientation="landscape"
            android:noHistory="true"/>
        <service android:name="com.kt.olleh.inapp.TimerService"/>
        <receiver android:name="com.feelingk.iap.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
